{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "eslint:recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "complexity": ["error", { "max": 8 }],
    "max-depth": ["error", 2],
    "max-lines": ["error", 160],
    "no-nested-ternary": "error",
    "no-magic-numbers": [
      "error",
      { "detectObjects": true, "enforceConst": true, "ignore": [1], "ignoreArrayIndexes": true }
    ],
    "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 1 }],
    "no-unused-vars": ["warn"],
    "@typescript-eslint/no-use-before-define": "off"
  },
  "plugins": ["prettier"]
}
