{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "eslint:recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "max-lines": ["warn", 160],
    "no-magic-numbers": [
      "warn",
      { "detectObjects": true, "enforceConst": true, "ignoreArrayIndexes": true }
    ],
    "no-multiple-empty-lines": ["warn", { "max": 2, "maxEOF": 1 }],
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/ban-types": "off"
  },
  "plugins": ["prettier"]
}
